* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  scroll-behavior: smooth;

  @include mobile {
    font-size: 11px;
  }
}

.app {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
  color: var(--main-color);

  & .modal-open {
    overflow: hidden;
  }
}

.header {
  background-color: var(--main-bg);
  color: var(--main-color);
}

body:has(.user-layout) {
  background-color: var(--main-bg);
  color: var(--main-color);
}

.app {
  display: flex;
  justify-content: center;
  position: relative;

  & .content {
    flex-direction: column;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: $main-color;
  }
}

img {
  max-width: 100%;
}

@each $color,
$val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include table {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.container {
  width: 100%;
  // max-width: 1620px;
  padding: 0 60px 0 50px;
  margin: auto;

  @include table {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }
}

.main {
  margin-top: $header-height;
  margin-bottom: 2rem;
  min-height: 100vh;

  @include table {
    margin-top: calc(#{$header-tablet-height} + 20px);
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height} + 10px);
  }
}

.grid {
  display: grid;
}

//? Custom progress-bar
// ::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  z-index: 999;
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

.Toastify__toast-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  transform: translate(0px, 0px) !important;
  background-color: hsla(0, 0, 0, 0.4);
}

/* Join Room */
.join {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 2px rgb(164, 165, 168);
}

.join input,
select,
button {
  height: 45px;
  border: none;
  outline: none;
  color: rgb(59, 60, 62);
  border-radius: 4px;
  border: 1px solid rgb(182, 184, 190);
  font-size: 16px;
}

.join input::placeholder,
select::placeholder {
  color: hsl(223, 3%, 56%);
}

.join input,
select {
  padding: 0 10px;
}

.join button:hover {
  background-color: inherit;
}

.join button:active {
  background-color: rgb(201, 205, 220);
}


/* ChatNdParticipants */
.rightBox {
  border-radius: 10px;
  width: 30%;
  background-color: white;
  min-width: 250px;
  padding: 20px 15px;
}

.rightBox__optionView {
  height: 100%;
}

.rightBox__head {
  width: 100%;
  text-align: left;
  height: fit-content;
}

.rightBox__head .selected {
  color: black;
}

.rightBox__head span {
  font-weight: bold;
  color: #a6a8ab;
  cursor: pointer;
}

.rightBox__head span:nth-child(1) {
  margin-right: 10px;
}

.rightBox__chats {
  height: calc(100% - 60px);
  overflow: scroll;
  padding: 10px 0;
  ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.rightBox__chats::-webkit-scrollbar {
  display: none;
}

.rightBox__optionView form input {
  border: none;
  width: 100%;
  height: 40px;
  background-color: hsl(228, 25%, 88%);
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
}

.rightBox__optionView form input:focus {
  outline: none;
}

.rightBox__participants {
  padding: 10px 0;
  height: 100%;
  overflow: scroll;
  ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.rightBox__participants::-webkit-scrollbar {
  display: none;
}

.rightBox__participant {
  text-align: left;
  text-align: left;
  background-color: #e9ebef;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rightBox__participant p {
  font-size: 14px;
}


/* Controls */
.controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 80px;
  margin-top: 10px;
  background-color: var(--main-bg);
  border-radius: 10px;
  gap: 10px;
  box-shadow: inset 0 0 10px 2px rgb(164, 165, 168);
}

.controls .MuiButton-root .MuiSvgIcon-root {
  margin-right: 5px;
}

.controls .MuiButton-root img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.controls .MuiButton-root {
  text-transform: unset;
  padding: 10px;
  border-radius: 10px;
}

.controls .leave {
  background-color: rgb(241, 110, 110);
}

.controls .leave:hover {
  background-color: rgb(242, 87, 87);
}


/* HlsView and VideoTile */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video {
  width: calc(50% - 10px);
  height: unset;
}


/* Message */
.message {
  width: fit-content;
  text-align: left;
  max-width: 90%;
}

.message span {
  font-size: 12px;
  color: rgb(191, 196, 199);
}

.message p {
  background-color: hsl(228, 10%, 90%);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 5px;
}

.myMessage {
  margin-left: auto;
  text-align: right;
}

.myMessage p {
  background-color: #1d84ea;
  color: white;
}


/* Room */
.room {
  display: flex;
  width: 95vw;
  // height: 90vh;
  border-radius: 10px;
  gap: 10px;
}

.room__streamSpace {
  width: 100%;
  height: 100%;
}

.liveStream {
  border-radius: 10px;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}


/* Stream */
.stream {
  border-radius: 10px;
  // height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}